@model AuthViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h1>Create</h1>

<div class="text-center">
    <h2 class="display-4">Регистрация</h2>
    <form asp-action="Create" method="post">
        <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input type="submit" value="Заригестрироваться" />

        <a href="https://localhost:44362/Auth/Index">Войти</a>
    </form>
</div>